@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  list-style: none;
  --bs-gutter-x: 0 !important;
}

html {
  font-size: 0.5rem;
}

@media (min-width: 576px) {
  html {
    font-size: 0.7rem;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.9rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1rem;
  }
}


/* React App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home Categories Card */
.category-list .img-card {
  position: relative;
  max-width: 90%;
  height: 160px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  overflow: hidden;
  cursor: pointer;
}

.category-list .img-card .overlay {
  transition: 1s ease;
}

.category-list .img-card:hover .overlay {
  z-index: 777;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.category-list .img-card .info{
  z-index: 777;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
  color: #fff;
  transform: translateY(20px);
  opacity: 0;
  transition: .5s ease;
}
  
.category-list .img-card:hover .info {
  transform: translateY(0);
  opacity: 1;
}

.category-list .img-card .info h3 {
  font-size: 1.5em;
}

.category-list .img-card .info h3 {
  font-size: 1.2em;
}

.category-list .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #212529;
  margin-top: 50px;
  padding: 3rem 0;
  color: #fff;
  width: 100%;
}

footer a {
  color: #fff;
}

.footer-container {
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
}

.footer-container .about h2 a {
  text-decoration: none;
}

.footer-container .about h2 a:hover {
  color: red;
}

.footer-container .footer-about p{
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3{
  font-size: 1.1em;
  font-weight: 500;
  /* margin-bottom: 30px; */
}


.footer-container .info ul,
.footer-container .follow ul{
  display: flex;
}

.footer-container .info a{
  margin: 20px;
  text-decoration: none;
}

.footer-container .info a:hover{
  color: red;
}

.footer-container .follow a{
  font-size: 1.5em;
  margin: 20px;
}

.footer-container .follow a:hover{
  color: red;
}

.footer-copyright p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 30px;
}

@media screen and (min-width: 320px) {
  .customSkeleton {
    width: 150px !important;
    height: 170px !important;
  }
}

@media screen and (min-width: 768px){
  .category-list .img-card {
    height: 360px;
  }

  .customSkeleton {
    width: 250px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .products:nth-last-child(1) {
    display: none;
  }

  .customSkeleton {
    width: 280px !important;
    height: 300px !important;
  }
}

@media screen and (min-width: 1070px){
  .customSkeleton {
    width: 280px !important;
    height: 340px !important;
  }
}

@media screen and (max-width: 1070px){
  footer .footer-container {
      flex-direction: column;
  }

  .footer-container .about, .footer-container .info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  /* .footer-container .info ul {
      align-items: center;
      flex-direction: column;
  } */

  .footer-container .info ul li{
      margin: 5px 0;
  }
      
  .footer-container .hr{
      width: 100%;
      height: 2px;
      background: ☐rgba(255, 255, 255, 0.1);
      margin: 10px 0 22px;
  }
}

/* Changing MUI Text Feild Styling */
.custom-focused .MuiOutlinedInput-notchedOutline {
  border-color: rgb(255, 255, 255) !important;
}

.custom-notched-outline {
  border-color: rgb(255, 255, 255) !important;
}

/* Accordion Custom */
.MuiAccordion-rounded div.MuiAccordionSummary-root {
 padding: 0 24px !important;
}